* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.solution {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}